*{
  padding: 5px;
  margin: 5px;
}

.container{
  padding: 1rem;
}
.card{
  background-color:cadetblue;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .card {
    background-color: #b8d04e;
  }
}
